.containerPrincipal {
    padding: 15px;
    max-width: 450px;
    margin: 10px auto;
    border-radius: 40px;
    background: #101022;
    box-shadow: 14px 14px 43px #07070f, -14px -14px 43px #191935;
}

h2, h4, h3 {
    text-align: center;
}

.btnAlign {
    text-align: center;
}

.containerPrincipal p {
    text-align: justify;
    padding: 10% auto;
    margin: 10% auto;
}

.containerPrincipal em {
    text-align: justify;
    padding: 10% auto;
    word-spacing: 0.3em;
    margin: 10%;
}

.input-group, .form-outline {
    margin: 10px auto;
    width: 50%
}

input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-datetime-edit-month-field {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}



